<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscar país
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Input del pais -->
<ion-content [fullscreen]="true">
  <form [formGroup]="formulario">
    <ion-item>
      <ion-label>Buscar país:</ion-label>
      <ion-input type="text" placeholder="En inglés o su nombre oficial" formControlName="busqueda"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="buscar()">Enviar</ion-button>
  </form>

  <!-- Tarjetas de paises -->
  <div *ngIf="respuesta" class="ion-padding-horizontal">

    <ion-card *ngFor="let pais of respuesta; let i = index">
      <ion-card-header>
        <ion-card-title>{{ pais.name.official }}</ion-card-title>
        <ion-card-subtitle>Nombre común: {{pais.name.common}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        - Población: {{ pais.population | number}}<br>
        - Región: {{ pais.region}}<br>
        - Capital: {{ pais.capital}}<br>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>